@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

:root {
    --main-bg-color: #3196cc;
    /* color.adobe.com, Monochromatic, based on the first color */
    --color1: #1F5E80;
    --color2: #8AD6FF;
    --color3: #3DBBFF;
    --color4: #456B80;
    --color5: #3196CC;
}

body, html {
    height: 100%;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--main-bg-color);

    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    height: 51px;
    padding: 0 50px;
}

.logo a {
    background-color: var(--color1);
    float: right;
}

#logo-img {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 4px;
    width:34px;
    height:34px;
    fill: #fff;
    stroke: #fff;
}

header {
    position: fixed;
    transition: top 0.3s;
    width:100%;
    top: 0;

    background-color: var(--color1);
    color: #fff;
    display: grid;
    grid-template-columns: [logo-start] fit-content(20%) [nav-start] auto [nav-end];
}

ul#navMenu {
    list-style-type: none;
    float: right;
}

ul#navMenu li {
    display: inline;
}

ul#navMenu li a {
    color: #fff;
    padding: 15px;
}

.headerText {
    padding: 15px;
    display: inline-block;
}

.hideHeader {
    transform: translateY(-52px);
}

#logo {
    padding: 10px;
}

#nav-toggle{
	position:absolute;
	top:0;
	right:0;
	width:51px;
	height:51px;
	background-color:var(--color1);
    cursor:pointer;
    /* hidden by default on large screens */
    display: none;
}

/* ICON BARS */

span.icon-bar{
	position:absolute;
	right:12px;
	display:block;
	width:26px;
	height:2px;
    background-color:#ffffff;
    
    -webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.icon-bar:nth-child(1){
    top:18px;
}
.icon-bar:nth-child(2){
    top:25px;
    /* Give the middle bar a slightly faster transition */
    -webkit-transition-duration: 0.1s;
	-o-transition-duration: 0.1s;
	transition-duration: 0.1s;
}
.icon-bar:nth-child(3){
    top:32px;
}

/* ANIMATION */

#nav-toggle.active .icon-bar:nth-child(1){
	top:25px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}
#nav-toggle.active .icon-bar:nth-child(2){
	width:0;
}
#nav-toggle.active .icon-bar:nth-child(3){
	top:25px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* END ICON BARS */

/* The nav overlay is the drop down part of the navigation when running on smaller screens. */
.nav-overlay{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color:rgba(0,0,0,0.5);
	z-index:1;
	opacity:0;
	visibility:hidden;
}
.nav-overlay.active{
	opacity:1;
	visibility:visible;
}



.main {
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
        "hero"
        "about"
        "experience"
        "projects"
        "contact";
}

section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2em;
}

section#hero {
    display: flex;
    flex-direction: column;
    background-color: var(--color2);    
    min-height: 100vh;
    
    justify-content: center;
}

section#about {
    background-color: #fff;
}

section#experience {
    background-color: var(--color4); 
    color: #fff;   
}

section#projects {
    background-color: var(--color5);   
}
section#contact {
    background-color: var(--color2);    
}

h1 {
    font-size: 80px;
}

@media screen and (max-width: 60em) {
    .logo {
        padding: 0;
    }
    
    h1 {
        font-size: 55px;
    }

    section {
        max-width: 100vw;
        padding: 1em;
    }

    nav { 
        grid-column-start: 1;
        grid-column-end: 2;
    }

    #nav-toggle {
		display:block;
	}

    ul#navMenu {
		position:absolute;
		top:51px;
		width:100%;
        height:0;
        margin:0;
		padding:0;
		overflow:hidden;
    }
    
    ul#navMenu li {
        display: list-item;
        width: 100%;
        height: 50px;
        line-height: 50px;
    }

    ul#navMenu li a {
        display: block;
        width:100%;
		padding:0;
		text-align:center;
		background-color: var(--color1);
    }

    ul#navMenu.active {
        height: auto;
    }
}